<?xml version="1.0" encoding="UTF-8"?>
-<web-app version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<display-name>test2</display-name>
-<welcome-file-list><welcome-file>index.html</welcome-file>
<welcome-file>index.htm</welcome-file>
<welcome-file>index.jsp</welcome-file>
<welcome-file>default.html</welcome-file>
<welcome-file>default.htm</welcome-file>
<welcome-file>default.jsp</welcome-file>
</welcome-file-list>
-<servlet><servlet-name>Secret</servlet-name>
<servlet-class>com.secret.Secret</servlet-class></servlet>
-<servlet><servlet-name>secretResult.jsp</servlet-name>
<servlet-class>/secretResult.jsp</servlet-class>
</servlet>-<servlet-mapping><servlet-name>Secret</servlet-name>
<url-pattern>/Secret</url-pattern></servlet-mapping>
-<servlet-mapping>
<servlet-name>secretResult.jsp</servlet-name>
<url-pattern>/secretResult.jsp*</url-pattern>
</servlet-mapping></web-app>
